<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.backend.user.mapper.UserMapper">
	
	<insert id="userRegister" parameterType="userModel">
	insert into user
	values(#{userID},#{userName},#{password},#{email},#{alias},#{profilePath},#{bio},#{likeCnt})
	</insert>
	
	<select id="getUserInfo" parameterType="String" resultType="userModel">
	select *
	from user
	where userId = #{userID}
	</select>
	
	<select id="getUserInfoByEmail" parameterType="String" resultType="userModel">
	select *
	from user
	where email = #{email}
	</select>
	
	<update id="userModify" parameterType="userModel">
		update user
		set userName=#{userName}, password=#{password}, email=#{email}, alias=#{alias}, profilePath=#{profilePath}, bio=#{bio}
		where userId= #{userID}
	</update>
	
	<delete id="userDelete" parameterType="String">
	delete from user
	where userID = #{userID}
	</delete>
	
	<select id="searchUserList" parameterType="String" resultType="String">
		select userID
		from user
		where userId LIKE concat('%', #{userId}, '%')
	</select>
	
	<insert id="insertGameID" parameterType="String">
		INSERT
		INTO gameuserid(userid)
		VALUES(#{userID})
	</insert>
	
</mapper>