.board-title {
  font-size: 18px;
  padding-left: 5px;
}

.writer {
  color: black !important;
  padding-left: 5px;
}

.board-top {
  border-bottom: 1px solid #dadada;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.board-body {
  border-bottom: 1px solid #dadada;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  padding-top: 5px;
  margin-left: 5px;
}
