.photo-zone {
  width: 100%;
}

button {
  outline: none;
  border: none;
  background-color: white;
}

.feed-detail-top {
  display: flex;
  justify-content: space-between;
}

.heart {
  width: 5rem;
  height: 5rem;
}
