/* 첫번째 div */
.sub-title {
  font-weight: 900;
}
.box {
  margin-top: 15%;
  padding: 5% 5%;
}
.box p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item p {
  width: 100%;
  color: #e87c03;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 3px 6px;
}
#email,
#code {
  width: 100%;
  height: 34px;
  outline: none;
  background: white;
  border: 0;
  padding: 0;
  color: black;
  font-size: 1.1rem;
}

.input-box {
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 1em 1.25em 0 1.25em;
  background: #ffffff;
  border-radius: 4px;
  border: solid 1px #dadada;
}
.input-box:focus-within {
  border: 1px solid #ffa061;
}

/* label style */
label {
  width: 4em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 1.3em;
  /* padding-left: 0.5em; */
  font-size: 14px;
  color: #8c8c8c;
  background-color: white;
  font-weight: bold;
  transition: 0.1s;
  justify-content: center;
}
/* label transform */
.input-box input:not(:placeholder-shown) + label,
.input-box input:focus + label {
  transform: translateY(-2.1em);
  font-size: 12px;
}

button {
  width: 100%;
  padding: 0;
}
button {
  margin: 20px 0;
  padding: 0.8em;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}
.alert-email {
  padding-left: 2em;
  font-weight: bold;
  color: #8c8c8c;
  animation-name: fadeOut;
  animation-duration: 0.2s;
  animation-iteration-count: initial;
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 비활성화 */
button:disabled {
  background: #8c92a3;
}
/* 활성화 */
button:enabled {
  background: #ffa061;
}

.smooth {
  animation-name: fadeOutTwo;
  animation-duration: 0.15s;
  animation-iteration-count: initial;
}
@keyframes fadeOutTwo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loding {
  width: 1.5em;
  height: 1.5em;
  border: 0.3em solid white;
  border-color: white transparent transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
